@import 'tailwindcss';

table.main-table {
  border-collapse: collapse;
  width: 100%;
}
table.main-table thead th {
  padding: 16px 32px;
  background-color: #e1e2e5;
  text-align: left;
  border-bottom: 1px solid #bbb;
}
table.main-table thead th:first-of-type {
  border-radius: 8px 0 0 0;
}
table.main-table thead th:last-of-type {
  border-radius: 0 8px 0 0;
}
table.main-table tbody td {
  border-bottom: 1px solid #ccc;
  padding: 16px 32px;
  text-align: left;
}